    <div class="item">
    <h2 class="ui header"><i class="cloud icon"></i> {{properties.name}}</h2>
    </div>

    <div class="text item">
        <p><a href="{{properties.html_url}}"><i class="icon external link"></i> Visit on GitHub</a></p>
    </div>

    <div class="header item">
        <i class="info circle icon"></i>
        General information
    </div>

    <div class="text item">
        <ul>
            <li>Number of forks: {{properties.forks_count}}</li>
            <li>Open Issues: {{properties.open_issues_count}}</li>
            <li>Stargazers: {{properties.stargazers_count}}</li>
        </ul>
    </div>

    <div class="header item">
    <i class="terminal icon"></i> Programming Languages
    </div>

    {{#details.programming_languages}}
    <div class="item">
        <div class="ui mini horizontal statistic">
            <div class="value">
                {{percentage}} %
            </div>
            <div class="label">
                {{title}}
            </div>
        </div>
    </div>
    {{/details.programming_languages}}

    <div class="header item">
        <i class="star icon"></i> Stargazers
    </div>

    {{#details.stargazers}}
    <div class="item ge-node">{{properties.q}}<a class="ge-link" href="{{properties.html_url}}"><i class="icon external link"></i></a></div>
    {{/details.stargazers}}

    <div class="header item">
        <i class="user icon"></i> Contributors
    </div>

    {{#details.contributors}}
    <div class="item ge-node">{{properties.q}}<a class="ge-link" href="{{properties.html_url}}"><i class="icon external link"></i></a></div>
    {{/details.contributors}}
