    <div class="item">
    <h2 class="ui header"><img class="ui avatar image" src="{{properties.avatar_url}}"> {{properties.login}}</h2>
    </div>

    <div class="text item">
        <p><a href="{{properties.html_url}}"><i class="icon external link"></i> Visit on GitHub</a></p>
    </div>

    <div class="header item">
        <i class="icon user"></i>
        General information
    </div>

    <div class="text item">
        <ul>
            {{#properties.name}}<li>Name: {{properties.name}}</li>{{/properties.name}}
            {{#properties.location}}<li>Location: {{properties.location}}</li>{{/properties.location}}
            {{#properties.company}}<li>Company: {{properties.company}}</li>{{/properties.company}}
        </ul>
    </div>

    <div class="header item">
    <i class="cloud icon"></i> Repositories
    </div>

    {{#details.repositories}}
    <div class="item ge-node" data-id="{{properties.id}}">{{properties.name}}<a class="ge-link" href="{{properties.html_url}}"><i class="icon external link"></i></a></div>
    {{/details.repositories}}


    <div class="header item">
        <i class="star icon"></i> Starred Repositories
    </div>

    {{#details.starred_repositories}}
    <div class="item ge-node" data-id="{{properties.id}}">{{properties.full_name}}<a class="ge-link" href="{{properties.html_url}}"><i class="icon external link"></i></a></div>
    {{/details.starred_repositories}}


    <div class="header item">
        <i class="users icon"></i> Users followed
    </div>

    {{#details.followees}}
    <div class="item ge-node" data-id="{{properties.id}}">{{properties.login}}<a class="ge-link" href="{{properties.html_url}}"><i class="icon external link"></i></a></div>
    {{/details.followees}}
