
@color-user: #328c84;
@color-repository: #547195;
@color-inactive: #efefef;
@color-starred: #ffb13b;
@color-active: black;
@color-hover: #ffda87;
@color-link: #009fda;

html, body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
}

#ge-zones {
  position: absolute;
  left: 40%;
  top: 30%;
  font-size: 20px;
}

.ui.popup {
  font-size: 16px !important;
}

#ge-legend {
  width: 200px;
  position: absolute;
  right: 30px;
  top: 80px;
  display: none;
}

#ge-feedback-help-wrapper {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

#ge-left-sidebar {
  display: none;
}

#ge-filters {
  position: absolute;
  top: 30px;
  right: 300px;
  display: none;
}

.ge-info {
  position: absolute;
  left: 100px;
  top: 100px;
  color: rgb(112, 112, 112);
}

#ge-query-info,
#ge-explore-info {
  display: none;
}

.ge-text {
  line-height: 30px !important;
  padding: 20px !important;
}

.ge-link {
  display: none;
  float: right;
  color: @color-link !important;
}

/* Nodes */
.node circle {
  stroke: #ffffff;
  stroke-width: 3px;
}

.node.user.active circle {
  fill: @color-user !important;
}

.node.visited circle {
  stroke: @color-active;
}

.node.repository.active circle {
  fill: @color-repository !important;
}

.node.user.inactive circle,
.node.repository.inactive circle {
  fill: @color-inactive;
  stroke-width: 0;
}

.node.hover circle {
  fill: @color-hover;
}

/* Nodes Labels */
.node text.label {
  fill: #727272;
  font-size: 14px;
  font-family: sans-serif;
}

.node.hover text.label {
  fill: #727272 !important;
}

.node.inactive text.label {
  fill: @color-inactive;
}

.node.visited text.label {
  fill: @color-active;
}

/* Links */
.link {
  stroke-width: 2px;
}

.link.follows {
  stroke: @color-user;
}

.link.owns {
  stroke : @color-repository;
}

.link.stars {
  stroke: @color-starred;
}

.link.contributes {
  stroke-dasharray: "4,4";
  stroke: @color-repository;
}

.link.follows.inactive,
.link.stars.inactive,
.link.owns.inactive,
.link.contributes.inactive{
  stroke: @color-inactive;
}

marker#owns,
marker#contributes{
  fill: @color-repository;
}

marker#stars {
  fill: @color-starred;
}

marker#follows {
  fill: @color-user;
}

marker#inactive {
  fill: @color-inactive;
}

/* Semantic overrides */

.pushable>.pusher {
  background: #ffffff;
}