html,
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
}
#ge-zones {
  position: absolute;
  left: 40%;
  top: 30%;
  font-size: 20px;
}
.ui.popup {
  font-size: 16px !important;
}
#ge-legend {
  width: 200px;
  position: absolute;
  right: 30px;
  top: 80px;
  display: none;
}
#ge-feedback-help-wrapper {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
#ge-left-sidebar {
  display: none;
}
#ge-filters {
  position: absolute;
  top: 30px;
  right: 300px;
  display: none;
}
.ge-info {
  position: absolute;
  left: 100px;
  top: 100px;
  color: #707070;
}
#ge-query-info,
#ge-explore-info {
  display: none;
}
.ge-text {
  line-height: 30px !important;
  padding: 20px !important;
}
.ge-link {
  display: none;
  float: right;
  color: #009fda !important;
}
/* Nodes */
.node circle {
  stroke: #ffffff;
  stroke-width: 3px;
}
.node.user.active circle {
  fill: #328c84 !important;
}
.node.visited circle {
  stroke: #000000;
}
.node.repository.active circle {
  fill: #547195 !important;
}
.node.user.inactive circle,
.node.repository.inactive circle {
  fill: #efefef;
  stroke-width: 0;
}
.node.hover circle {
  fill: #ffda87;
}
/* Nodes Labels */
.node text.label {
  fill: #727272;
  font-size: 14px;
  font-family: sans-serif;
}
.node.hover text.label {
  fill: #727272 !important;
}
.node.inactive text.label {
  fill: #efefef;
}
.node.visited text.label {
  fill: #000000;
}
/* Links */
.link {
  stroke-width: 2px;
}
.link.follows {
  stroke: #328c84;
}
.link.owns {
  stroke: #547195;
}
.link.stars {
  stroke: #ffb13b;
}
.link.contributes {
  stroke-dasharray: "4,4";
  stroke: #547195;
}
.link.follows.inactive,
.link.stars.inactive,
.link.owns.inactive,
.link.contributes.inactive {
  stroke: #efefef;
}
marker#owns,
marker#contributes {
  fill: #547195;
}
marker#stars {
  fill: #ffb13b;
}
marker#follows {
  fill: #328c84;
}
marker#inactive {
  fill: #efefef;
}
/* Semantic overrides */
.pushable > .pusher {
  background: #ffffff;
}
