
@color-user: #328c84;
@color-repository: #547195;
@color-inactive: #efefef;
@color-starred: #ffb13b;
@color-active: black;

html, body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
}

#git-buddy-zones {
  position: absolute;
  right: 25px;
  top: 25px;
}

#git-buddy-filters {
  position: absolute;
  right: 360px;
  top: 35px;
}

/* Nodes */
.node circle {
  stroke: #ffffff;
  stroke-width: 3px;
}

.node.user.active circle,
.node.user.hover circle {
  fill: @color-user !important;
}

.node.selected circle {
  stroke: @color-active;
}

.node.repository.active circle,
.node.repository.hover circle{
  fill: @color-repository !important;
}

.node.user.inactive circle,
.node.repository.inactive circle {
  fill: @color-inactive;
  stroke-width: 0;
}

/* Nodes Labels */
.node text.label {
  fill: #727272;
  font-size: 14px;
  font-family: sans-serif;
}

.node.hover text.label {
  fill: #727272 !important;
}

.node.inactive text.label {
  fill: @color-inactive;
}

.node.selected text.label {
  fill: @color-active;
}

/* Links */
.link {
  stroke-width: 2px;
}

.link.follows {
  stroke: @color-user;
}

.link.follows.inactive,
.link.starred.inactive,
.link.owns.inactive {
  stroke: @color-inactive;
}

.link.owns {
  stroke : @color-repository;
}

.link.starred {
  stroke: @color-starred;
}

marker#owns {
  fill: @color-repository;
}

marker#starred {
  fill: @color-starred;
}

marker#follows {
  fill: @color-user;
}

marker#inactive {
  fill: @color-inactive;
}