html,
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
}
#git-buddy-zones {
  position: absolute;
  right: 25px;
  top: 25px;
}
#git-buddy-filters {
  position: absolute;
  right: 360px;
  top: 35px;
}
/* Nodes */
.node circle {
  stroke: #ffffff;
  stroke-width: 3px;
}
.node.user.active circle,
.node.user.hover circle {
  fill: #328c84 !important;
}
.node.selected circle {
  stroke: #000000;
}
.node.repository.active circle,
.node.repository.hover circle {
  fill: #547195 !important;
}
.node.user.inactive circle,
.node.repository.inactive circle {
  fill: #efefef;
  stroke-width: 0;
}
/* Nodes Labels */
.node text.label {
  fill: #727272;
  font-size: 14px;
  font-family: sans-serif;
}
.node.hover text.label {
  fill: #727272 !important;
}
.node.inactive text.label {
  fill: #efefef;
}
.node.selected text.label {
  fill: #000000;
}
/* Links */
.link {
  stroke-width: 2px;
}
.link.follows {
  stroke: #328c84;
}
.link.follows.inactive,
.link.starred.inactive,
.link.owns.inactive {
  stroke: #efefef;
}
.link.owns {
  stroke: #547195;
}
.link.starred {
  stroke: #ffb13b;
}
marker#owns {
  fill: #547195;
}
marker#starred {
  fill: #ffb13b;
}
marker#follows {
  fill: #328c84;
}
marker#inactive {
  fill: #efefef;
}
