<style>

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node {
        font: 10px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

</style>
<div ng-controller="MainController">
  <h1 class="uk-heading-medium">Welcome to GithubBuddy!</h1>

  <form class="uk-form" ng-submit="checkoutUser()">

    <fieldset data-uk-margin>

      <legend>
        Github Account
      </legend>
      <p>
        Enter your github username to discover new facts.

      <p>

      <p>
        {{text}}
      </p>
      <input type="text" name="User" id="username" placeholder="Username" ng-model="username"/>

      <button class="uk-button">Checkout</button>
    </fieldset>
  </form>


  <div>
    <ul>
      <li ng-repeat="follower in followers">
        <span>{{ follower }}</span>
      </li>
    </ul>

  </div>


  <p>
    <h3>{{graph_text}}</h3>
  </p>
  <div id="graph">
   </div>





</div>