<!DOCTYPE html>
<html ng-app="GithubBuddy">
<head>
  <meta charset="utf-8">

  <title>GithubBuddy</title>
  <link rel="stylesheet" href="/components/uikit/css/uikit.gradient.min.css"/>
  <link rel="stylesheet" href="/components/nvd3/nv.d3.css"/>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/components/lodash/dist/lodash.underscore.min.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/uikit/js/uikit.min.js"></script>

  <script src="/components/nvd3/nv.d3.js"></script>
  <script src="/components/d3/d3.js"></script>
  <script src="/components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>

  <script src="/github_buddy.js"></script>

</head>

<body>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

  <nav class="uk-navbar uk-margin-large-bottom">
    <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">GithubBuddy</a>
    <ul class="uk-navbar-nav uk-hidden-small">


    </ul>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
  </nav>


  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1">
      <%= yield %>
    </div>

  </div>
</div>

</body>

</html>